.big-green {
    font-size: 20px;
    color: rgb(204, 238, 11);
}

span.big-green {
    font-size: 20px;
    color: rgb(19, 192, 143);
}

.big-green span {
    font-size: 20px;
    color: rgb(147, 8, 228);
}

.block>p {
    color: rgb(11, 174, 233);
}